/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root{
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
body{
    background-color: white;
   
}

.extra-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


.headercont{
    display: flex;
    height: 60vh;
    background-color: blue;
}
.sectioncont{
    display: flex;
    margin-top: 100px;
    padding: 8rem;
    font-size: 30px;
}
.sectioncont1{
    display: flex;
    flex-direction:row-reverse;
    margin-top: 100px;
    padding: 8rem;
    background-color: rgb(236, 229, 229);
    font-size: 30px;
}
.class1{
    margin-top: 2em;
}
.sectioncont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(236, 229, 229);
    margin-top: 20px;
}
.h1{
    display: block;
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.h2{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}
.a{
    border: 20px solid #5865f2;;
    border-radius: 28px;
    background-color:#5865f2;;
    margin-top: 30px;
    display: flex;
    color: white;
    padding: 16px, 32px, ;
  
  
   
}
    

