/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    text-decoration: none;
   
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: white;

}


.extra-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

header{ 
    display: flex;
    background-image: url(./img/hero-bg.svg);
    background-color: blue;
    height: 80vh;
    padding: 20px;

}
  .nav1>*{
    display: flex;
    padding: 40px;
    
}
    .nav2{
        display: flex;
        color: white;
        gap: 2rem;
        position: relative;
        margin-left: 200px;
        font-family:s-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        font-weight:500;
        
    }
    .btn1{
        
        gap: 2rem;
        margin-left: 100px;
        border: 5px solid white;
        background-color: #fff;
        border-radius: 35%;
        border-radius: 40px;
        font-size: 14px;
        padding: 7px 16px;

       
    }
.hero1  {
   
     display: flex;
     position: absolute ;
     align-items: flex-end;
     margin-top: 295px; 
     gap: 700px;
    
    
 }
 
    
    .h{
        display: flex;

        margin-left: 22%;
        font-family:'Montserrat', sans-serif; 
        color: white;
        font-weight: 900;
        font-size: 56px;
        
        
       
        
    }
    .p1 {
        display: flex;
        color: white;
        margin-top: 120px;
        padding-left: 25%;
        padding-right: 25%;
        line-height: 2;
    }
    .testo >*{
        display: flex;
        position: absolute;
    }
    .btn2{
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 200px;
        margin-left: 150px;
        

    }
    .scaricamac{
        border: 2px solid white;
        color: #23272a;
        background-color: #fff;
        border-radius: 28px;
        font-size: 20px;
        padding: 16px 32px;
    }
    .discord{
        border: 2px solid #23272a;
        color: white;
        background-color:#23272a;
        border-radius:28px;
        font-size: 20px;
        padding: 16px 32px;
    }
    header nav{
        font-size: 20px;
    }

.sectioncont {
    display: flex;
    margin-top: 100px;
    padding: 6rem; 
    position: relative;
    font-size: 30px;
}
.class1, .class2{
    display: flex;
    margin: 10px;
    margin-top: 30px;
    
    margin-left: 60px;
   
}

.sectioncont1 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    padding: 6rem;
    background-color: rgb(236, 229, 229);
    font-size: 30px;
}

.class1 {
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
}


.sectioncont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 229, 229);
    margin-top: 20px;

}

.h1 {
    display: block;
    margin-bottom: 20px;
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif; 
   
}

.h2 {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 800;
}

.a {
    border: 20px solid #5865f2;
    border-radius: 28px;
    background-color: #5865f2;
    margin-top: px;
    display: flex;
    color: white;
    padding: 16px, 32px, ;
    align-items: center;
}

.font1 {
    margin-top: 200px;
    display: flex;
    padding-left: 40px;
    position: relative;
}


.logo {
    padding-right: 10px;
    color: white;

}

.font1, .a{
 margin-top: 80px;
 position: relative;
}

.a {
    margin-bottom: 100px;
}

.stars {
    position: absolute;
    margin-top: 50px;
    padding-right: 68%;


} 


 
footer {
    background-color: #23272a;
    padding: 100px;
    position: absolute;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #5865f2;
    border-bottom: 2px solid #5865f2;
    
    } 
    .pro1, .pro2, .pro3, .pro4, .btn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .2rem;
        margin: 20px;
        
        
        
    }
  
    .span1, .span2, .span3, .span4{
        color: white;
      
    }
    .btn{
        display: flex;
        flex-direction: column;
        height: 10px;
        color: white;
        width: 30px;
        gap: .5em;
    } 
.regista{
    display: flex;
    margin-left: 350%;
    
}
.end{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

  .classregista{
    border:10px solid #5865f2;
    background-color: #5865f2;
    color: white;
    border-radius: 40px;
  }
  .logo1{
    display: flex;
    gap: 1rem;
    margin-top: 70px;
    position: absolute;
  }
        
    
   